import * as React from 'react';
import { {{camelCase name}}, {{capitalize name}}Theme } from '@recastui/themes';
//import { VariantProps } from 'class-variance-authority';
//import { cl } from '../utils';

//export interface {{capitalize name}}Props {
//}

export const {{capitalize name}} = () => {
  return <div>{{capitalize name}}</div>;
};

{{capitalize name}}.displayName = '{{capitalize name}}';
