---
import type { MarkdownHeading } from 'astro';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import { Header } from '@components/Header';
import { Navigation } from '@components/Navigation';
import RightSidebar from '@components/RightSidebar/RightSidebar.astro';
import { GITHUB_EDIT_URL, SidebarNavigation } from '../constants';

type Props = CollectionEntry<'docs'>['data'] & {
	headings: MarkdownHeading[];
	pages: [
		{
			slug: string;
			title: string;
		},
	];
};

const { headings, pages, ...data } = Astro.props;
const currentPage = Astro.url.pathname;
const currentFile = `${currentPage.replace(/\/$/, '')}.mdx`;
const allLinks = SidebarNavigation.flatMap(section => section.links);
const linkIndex = allLinks.findIndex(link => link.href === currentPage.replace(/.$/, ''));
const previousPage = allLinks[linkIndex - 1];
const nextPage = allLinks[linkIndex + 1];
const githubEditUrl = `${GITHUB_EDIT_URL}${currentFile}`;
---

<BaseLayout title={data.title} description={data.description}>
	<Header client:load navigation={SidebarNavigation} />
	<div class='relative flex justify-center'>
		<div class='hidden lg:relative lg:block lg:flex-none'>
			<div class='sticky top-[61px] h-[calc(100vh-61px)] overflow-y-auto py-6 pl-6 pr-2'>
				<Navigation
					client:load
					navigation={SidebarNavigation}
					className='w-64 pr-8 xl:w-72 xl:pr-16'
					currentPath={currentPage}
				/>
			</div>
		</div>
		<div class='min-w-0 mx-auto max-w-2xl flex-auto px-4 xl:px-16 py-6 lg:max-w-4xl'>
			<article>
				<div class='prose prose-gray pb-8'>
					<slot />
				</div>
			</article>
			<dl class='mt-12 flex border-t border-gray-5 pt-6'>
				{
					previousPage && (
						<div>
							<dt class='font-display text-main-11 text-sm font-medium'>Previous</dt>
							<dd class='mt-1'>
								<a
									rel='prefetch'
									href={previousPage.href}
									class='text-main-12 hover:text-main-11 text-base font-semibold'>
									<span aria-hidden='true'>&larr;</span> {previousPage.title}
								</a>
							</dd>
						</div>
					)
				}
				{
					nextPage && (
						<div class='ml-auto text-right'>
							<dt class='font-display text-main-11 text-sm font-medium'>Next</dt>
							<dd class='mt-1'>
								<a
									rel='prefetch'
									href={nextPage.href}
									class='text-main-12 hover:text-main-11 text-base font-semibold'>
									{nextPage.title} <span aria-hidden='true'>&rarr;</span>
								</a>
							</dd>
						</div>
					)
				}
			</dl>
		</div>
		<aside class='hidden lg:block sticky -ml-0.5 overflow-y-auto py-6 pl-0.5'>
			<RightSidebar headings={headings} githubEditUrl={githubEditUrl} />
		</aside>
	</div>
</BaseLayout>
